body {
    background: #010b23;
    background-size: cover;
    font-family: sans-serif;
    color: white;
    text-align: center;
    margin: 0;
    padding: 20px;
  }
  
  h1 {
    margin-bottom: 20px;
  }
  
  .board {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
  }
  
  .column {
    background: rgba(0, 0, 0, 0.6);
    border-radius: 10px;
    padding: 15px;
    width: 22%;
    min-height: 300px;
  }
  
  h2 {
    margin-top: 0;
  }
  
  .task-list {
    min-height: 200px;
    padding: 10px;
    background: rgba(255,255,255,0.1);
    border-radius: 8px;
  }
  
  .task {
    background: white;
    color: black;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 6px;
    cursor: grab;
  }
  
  button {
    background-color: #00a186;
    border: none;
    color: white;
    padding: 10px;
    margin-top: 10px;
    width: 100%;
    border-radius: 6px;
    cursor: pointer;
  }
  
  @media (max-width: 768px) {
    .column {
      width: 100%;
    }
  }
  /* .delete-btn {
    background: none;
    border: none;
    color: red;
    font-size: 1rem;
    margin-left: 8px;
    cursor: pointer;
  } */
  
  